Source: ros-dashing-cyclonedds
Section: misc
Priority: extra
Maintainer: Scott K Logan <scott@openrobotics.org>
Build-Depends: debhelper (>= 9.0.0), cmake, default-jdk, libcunit1-dev, maven, ros-dashing-ros-workspace
Homepage: 
Standards-Version: 3.9.2

Package: ros-dashing-cyclonedds
Architecture: any
Depends: ${shlibs:Depends}, ${misc:Depends}, default-jdk, ros-dashing-ros-workspace
Description: Performant and robust open-source DDS implementation.
